* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

header {
  background-color: #22cbff;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 100px;
  width: 125px;
}

.search-container {
  margin: 2%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#gasFilter {
  margin: 0 auto;
  display: block;
  width: 9%;
  margin-top: 0.5%;
}

#contenedorResultados {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 10%;
}

.cardTitle {
  text-align: center;
  display: block;
  font-weight: 700;
  font-size: 20px;
  margin-top: 5px;
}

.carta {
  background-color: rgb(245, 245, 245);
  width: 290px;
  height: 400px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5%;
  transition: transform 0.5s;
}

.carta:hover {
  transform: translateY(-8px);
}

.card-footer {
  left: 0;
  width: 100%;
  bottom: 20px;
}

.stat-title {
  text-align: center;
  border-bottom: 1px solid #000000;
}

.stat {
  box-sizing: border-box;
  width: calc(100% / 3);
  float: left;
  text-align: center;
  border-left: 1px solid #ebebeb;
}

.stat .label {
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  color: #95989a;
}

.stat .value {
  display: block;
  font-weight: 700;
  font-size: 20px;
  margin-top: 5px;
}

#imgMunicipio {
  width: 30px;
}

footer {
  background-color: #22cbff;
  text-align: center;
  color: white;
  margin-top: auto;
}

.redes {
  width: 40px;
  height: 40px;
}
/* ESTILO INPUT */
#buscar {
  text-align: left;
  padding: 10px 18px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #22cbff;
  margin-right: 25px;
  outline: none;
}

/* ESTILO BOTON */
#buscarButton {
  margin-left: 10px;
  appearance: button;
  background-color: #22cbff;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

#buscarButton:after {
  background-clip: padding-box;
  background-color: #44e5ff;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

#buscarButton:main,
#buscarButton:focus {
  user-select: auto;
}

#buscarButton:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

#buscarButton:disabled {
  cursor: auto;
}

@media (max-width: 767px) {
  .logo {
    height: 75px;
    width: 100px;
  }
}
