* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

header {
  background-color: #22cbff;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 100px;
  width: 125px;
}

#buscar {
  margin: 0 auto;
  display: block;
  width: 20%;
  margin-top: 2%;
}

#gasFilter{
  margin: 0 auto;
  display: block;
  width: 9%;
  margin-top: 0.5%;
}

#contenedorResultados {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 10%;
}

.cardTitle {
  text-align: center;
  display: block;
  font-weight: 700;
  font-size: 20px;
  margin-top: 5px;
}

.carta {
  background-color: rgb(245, 245, 245);
  width: 290px;
  height: 400px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5%;
  transition: transform 0.5s;
}

.carta:hover {
  transform: translateY(-8px);
}

.card-footer {
  left: 0;
  width: 100%;
  bottom: 20px;
}

.stat-title {
  text-align: center;
  border-bottom: 1px solid #000000;
}

.stat {
  box-sizing: border-box;
  width: calc(100% / 3);
  float: left;
  text-align: center;
  border-left: 1px solid #ebebeb;
}

.stat .label {
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  color: #95989a;
}

.stat .value {
  display: block;
  font-weight: 700;
  font-size: 20px;
  margin-top: 5px;
}

#imgMunicipio {
  width: 30px;
}

footer {
  background-color: #22cbff;
  text-align: center;
  color: white;
  margin-top: auto;
}

.redes {
  width: 40px;
  height: 40px;
}

@media (max-width: 767px) {
  .logo {
    height: 75px;
    width: 100px;
  }
}
